medium.bib
all.bib
short.bib
latex/*.tex
*_aux
*.ptb
*.bst
test.tex
Asana-Math.otf
AgdaExamples.tex
AntiRename.tex
IndRen.tex
InfiniteTypes.tex
NReduction.tex
SAT.tex
SN.tex
SNtosn.tex
SizedInfiniteTypes.tex
Soundness.tex
Substitution.tex
TermShape.tex
Terms.tex
save-SizedInfiniteTypes.lagda
sn.tex
ECxtList.tex
Rename.tex
Subst0.tex
SNtosn2.tex
SNtosnR.tex
TypeEquality.tex
NContexts.tex
aplas14.out
aplas14long.out
aplas14.zip
../src/.gitignore
sn-definition.tex
talkCopenhagen2014
